*{
    box-sizing: border-box;
    margin: 0px;
    overflow: hidden;
}
.div1{
    background-color: papayawhip;
    width: 20%;
    height:100vh;
    float: left;

}

.div2{
    background-color: green;
    width: 80%;
    height: 20vh;
    float: left;
}
.div3{
    background-color: white;
    width: 60%;
    height: 60vh;
    float: left;
}
.div4{
    background-color: grey;
    width: 20%;
    height: 60vh;
    float: left;

}
.div5{
    background-color: green;
    width: 80%;
    height: 20vh;
    float: left;
}